<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      id="mda.midi.preference"
      name="Midi Preferences"
      point="org.eclipse.ui.preferencePages">
   <page
         class="org.mda.midi.ui.config.MidiDevicesPreferencePage"
         id="mda.midi.preferencepage"
         name="Midi">
   </page>
</extension> 
</plugin>
