<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension id="id" point="org.eclipse.e4.workbench.model">
        <fragment uri="fragment.e4xmi"></fragment>
      </extension>
      <extension
      id="mda.globalpresentations.preference"
      name="Global presentation configurations"
      point="org.eclipse.ui.preferencePages">
   <page
         class="org.mda.presenter.ui.config.GlobalPresentationPrefsPage"
         id="mda.globalpresentations.preferencepage"
         name="Global presentation configurations">
   </page>
 </extension>
 <extension point="org.mda.core.injected">
   <injected interface="org.mda.presenter.ui.PresenterUiModule"/>
 </extension>
      
      
      
</plugin>
