<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mda.editor.session.ui.SessionEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="mdi"
            icon="icons/sample.gif"
            id="org.mda.editor.session.ui.editors.sessioneditor"
            name="Session Editor">
      </editor>
   </extension>


</plugin>
