Label {
	font: Verdana 10px;
	color: #e8e8e8;
}


Shell {
    background-color: #828282 #717171 40%;
}

.MPart {
	background-color: #777777 ;
	swt-border-visible: false;
}


.MPartStack {
  swt-tab-renderer: null;
  swt-tab-height: 0px; /** To avoid lashes **/
  padding: 0px 0px 0px;
  swt-simple: false;
  swt-mru-visible: false;
  swt-shadow-visible: false;
  swt-single: true;
}

#SearchField {
     visibility: hidden;
}

Tree {
	background-color: #999999 ;
	selection-color: #000000;
}


TreeItem {
	background-color: #000000 ;
}

CTabItem {
	color: rgb(150, 150, 150);
}

CTabItem:selected {
	background-color: #4a4a4a #101010 60%;
}

CTabItem.active:selected {
	background-color: #777777 ;
}





