<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension id="org.mda.commons.ui.fullscreenprocessor" point="org.eclipse.e4.workbench.model">
      <processor beforefragment="false"
            class=" org.mda.commons.ui.FullScreenProcessor">
      </processor>
</extension>
<extension
      id="mda.general.preference"
      name="Commons Preferences"
      point="org.eclipse.ui.preferencePages">
   <page
         class="org.mda.commons.ui.config.GeneralPreferencePage"
         id="mda.general.preferencepage"
         name="General">
   </page>
</extension> 
</plugin>
