<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.mda.modelnavigator"
         name="MDA-Navigator"
         point="org.eclipse.ui.views">
      <view
            class="org.mda.commons.ui.navigator.ModelNavigator"
            id="org.mda.views.modelnavigator"
            name="MDA-Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         id="org.mda.commons.ui.navigatorContent"
         name="org.mda.commons.ui.navigatorContent"
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.mda.commons.ui.navigator.ContentProvider"
            id="org.mda.commons.ui.navigatorContent"
            labelProvider="org.mda.commons.ui.navigator.LabelProvider"
            name="NavigatorContent">
         <triggerPoints>
            <instanceof
                  value="org.mda.commons.ui.navigator.NavigatorRoot">
            </instanceof></triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.mda.views.modelnavigator">
      </viewer>
      <viewerContentBinding viewerId="org.mda.views.modelnavigator">
         <includes>
            <contentExtension
                  pattern="org.mda.commons.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>



</plugin>
