<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension name="MDA-Navigator"
         point="org.eclipse.ui.views">
      <view
            class="org.mda.navigator.ui.ContentNavigator"
            id="org.mda.navigator.ui"
            name="MDA-Navigator"
            restorable="true">
      </view>
   </extension>
</plugin>