<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension name="Admin-Navigator"
         point="org.eclipse.ui.views">
      <view
            class="org.mda.navigator.ui.ContentNavigator"
            id="org.mda.navigator.ui.admin"
            name="Administration"
            restorable="true">
      </view>
   </extension>
   
   <extension name="Presentation"
         point="org.eclipse.ui.views">
      <view
            class="org.mda.navigator.ui.PresentationNavigator"
            id="org.mda.navigator.ui.presentation"
            name="Presentation"
            restorable="true">
      </view>
   </extension>
</plugin>